:root {
    --main-bg-color: #00ff9d;
    --acc-color: #5afdfd;
    --acc-color-rgba: rgba(90, 253, 253, .2);
    --secondary-acc-color: #e9fff8;
    --main-txt-color: #3d6bff;
    --secondary-txt-color: #6dffc7;

    --width-inputs: 10rem;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    overflow: hidden;


    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='63' height='63.6' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M10.7-1.8c1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6-17.5-1.4-17-1.1zM1.2-.7l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.3-.5-.1-.2s-.9.7-1.7 1.2c-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2L6.8-.2c-.4-.2-.7-.5-1.1-.8l-.6-.4S-.2-2 1.2-.7zm-2.3 6.5l.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8L1 3.5.4 3l-.6-.5-.3-.3-.1-.1-.1-.1c-1.6-1.5-.4 3.8-.4 3.8zM36.1-.9c-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 3.2-1.8 1.5-2.6l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1A24.5 24.5 0 0057-1.8c-1.9-1-19.8.2-20.9.9zM-1.8 12.9c1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.8 3-.3 3.3zM42.33.8a22.9 22.9 0 00-2.83.3c-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6a20.69 20.69 0 019.8 5.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 2.5-2.2.7-2.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.05 26.05 0 00-4.47-.3zM-5.9 17.9c1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2 0 0-2 2.3-1.5 2.6zM38.23 5.8a22.9 22.9 0 00-2.83.3c-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 .8-2.2 0-2.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.03 26.03 0 00-4.47-.3zM35.67 13c-1.43-.04-2.9.08-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1 .7-.4 1a17.8 17.8 0 006.3 2.7c.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1a20.69 20.69 0 019.8-5.4c1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2a22.9 22.9 0 00-2.83-.3zM65.5 24.9c-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1a17.8 17.8 0 006.3 2.7c.9.1 1.1-1.9.3-2zm-25.63-7c-1.43-.04-2.9.07-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4C3 29 1.7 28.6.5 28.1c-.5-.3-1.1-.5-1.5-.8-.5-.3-.9.4-.4.8.4.4.9.7 1.5 1a17.8 17.8 0 006.3 2.7c.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1c1.4-1.3 2.9-2.5 4.6-3.4 1.7-.9 3.4-1.6 5.2-2 1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zM67.4 29.4c-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.8 2.4 1.4 3.9 2 .8.3 1.2-1.5.4-1.7zm-23.33-6.6c-1.43-.04-2.9.07-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1a20.69 20.69 0 019.8-5.4c1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zm20.83 8.7c-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7-.3.3-.5zM-.3 34.6c.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.5-.1-.1.2zm48.47-6.9c-1.43-.04-2.9.07-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1a20.69 20.69 0 019.8-5.4c1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2a22.9 22.9 0 00-2.83-.3zM-.6 36.8c.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3 2.3 2.5 3.5 3zm52.97-4.2c-1.43-.04-2.9.08-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1c1.4-1.3 2.9-2.5 4.6-3.4 1.7-.9 3.4-1.6 5.2-2 1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9-.4.4-.8-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zM-2.7 40.1c.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-1.1 1.9-.3 2zm59.17-2.5c-1.43-.04-2.9.08-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1c1.4-1.3 2.9-2.5 4.6-3.4 1.7-.9 3.4-1.6 5.2-2 1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1-.7.4-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zm-60.44 7.2c-.48.02-2.23 2.3-1.43 2.3 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a21.9 21.9 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.05 26.05 0 00-4.47-.3zm61.57.1c-.5 0-1 .1-1.4.2-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.4-1.6 1.5-2.6s-4-1.6-6-2a25.81 25.81 0 00-4-.3c-.95.02-1.43.05-1.9.1zm-62 7.7A20.69 20.69 0 015.4 58l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1A24.5 24.5 0 002.3 52c-1.9-1-4-1.6-6-2-1.57-.22-2.5 2.2-.7 2.6zm59.23-2.9A22.9 22.9 0 0052 50c-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.4-1.6 1.5-2.6s-4-1.6-6-2a26.05 26.05 0 00-4.47-.3zM-3.4 59.5c1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 19.8-.2 20.9-.9.6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-3.2 1.7-1.5 2.6zm54.03-4.9c-.48.02-.96.05-1.43.1-.5 0-1 .1-1.4.2-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1 2.1-2.3a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.04 26.04 0 00-4.47-.3zm-4.1 4.9c-.48.02-.96.05-1.43.1-.5 0-1 .1-1.4.2-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-.5 1 .3.5.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 6.9 1.3 6.9 1.3l-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.05 26.05 0 00-4.47-.3z'  stroke-width='1' stroke='none' fill='hsla(157, 100%, 81%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");


    position: relative;

}

body::before {
    position: absolute;
    content: '';
    min-width: 120vw;
    /* width: 100%;
    height: 100%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(231, 255, 253);
    background: -moz-linear-gradient(90deg, var(--acc-color) 0%, var(--secondary-txt-color) 100%);
    background: -webkit-linear-gradient(90deg, var(--acc-color) 0%, var(--secondary-txt-color) 100%);
    background: linear-gradient(90deg, var(--acc-color) 0%, var(--secondary-txt-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7fffd", endColorstr="#f8fffe", GradientType=1);
    clip-path: polygon(0% 50vh, 60vw 0%, 100vw 0%, 100vw 100%, 0% 100%);
    /* z-index: -1; */

}

header {
    display: flex;
    text-transform: capitalize;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    position: relative;
    margin: 1rem 0;



}

#svgLogo {
    min-width: 10rem;
    width: 10rem;
    /* height: 10rem; */
    margin-left: 1rem;
    fill: var(--secondary-acc-color);
    /* stroke-width: 1;
    stroke: var(--main-txt-color); */
    filter: drop-shadow(0px 3px 3px var(--main-txt-color));
}


header h1 {
    font-family: 'Russo One', sans-serif;

    /* font-style: italic; */
    font-size: 6vw;
    letter-spacing: .1rem;
    text-shadow: .2rem .05rem 0 var(--secondary-acc-color);
    box-sizing: border-box;
    padding-left: 1.2rem;
    padding-bottom: .8rem;
    position: relative;
    z-index: 20;
    color: var(--main-txt-color);
    white-space: nowrap;
    border-radius: 0 .5rem .5rem 0;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--acc-color) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--acc-color) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--acc-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e8c5fc", GradientType=1);
    cursor: default;

    
}


/* header h1::before {
    content: '';
    position: absolute;
    bottom: -.2rem;
    left: -20vw;
    width: 100vw;
    height: 2px;
    background-color: var(--acc-color);
} */

/* header::before {
    content: '';
    position: absolute;
    bottom: -.2rem;
    left: -.6rem;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-txt-color);
} */

header::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -2rem;
    /* transform: translateX(-50%); */
    width: 40rem;
    height: 40rem;


    border-radius: 100%;
    background: var(--secondary-txt-color);
    background: -moz-linear-gradient(180deg, var(--secondary-txt-color) 45%, rgba(242, 124, 56, 0) 90%);
    background: -webkit-linear-gradient(180deg, var(--secondary-txt-color) 45%, rgba(242, 124, 56, 0) 90%);
    background: linear-gradient(180deg, var(--secondary-txt-color) 45%, rgba(242, 124, 56, 0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f27c38", endColorstr="#f27c38", GradientType=1);

    z-index: -5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 100%;

    /* flex-direction: column; */
    z-index: 20;
    flex: 1;
}

.areaInputs {

    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column; */

    /* margin: 0 auto; */
    /* line-height: 4vh; */
    /* flex-direction: column; */
    align-items: center;
    margin-right: 2rem;

    font-family: 'Russo One', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: var(--main-bg-color);
}

.areaInputs label {
    margin-right: .2rem;
    text-transform: lowercase;
}

.areaInputs input {
    height: 4vh;

    background: rgb(255, 197, 72);
    background: -moz-linear-gradient(90deg, var(--acc-color) 0%, var(--secondary-acc-color) 100%);
    background: -webkit-linear-gradient(90deg, var(--acc-color) 0%, var(--secondary-acc-color) 100%);
    background: linear-gradient(90deg, var(--acc-color) 0%, var(--secondary-acc-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc548", endColorstr="#e8c5fc", GradientType=1);

    border-radius: .5rem;
    border-style: none;

    padding-right: .5rem;
    text-align: end;

}


.areaCep {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    border: 1px solid var(--secondary-acc-color);
    border-radius: 1rem 0 0 1rem;
    padding: 1rem 0 1rem 1rem;
    margin-right: .5rem;

    background: rgb(0, 255, 157);
    background: -moz-linear-gradient(270deg, rgba(0, 255, 157, 1) 0%, rgba(61, 107, 255, 1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(0, 255, 157, 1) 0%, rgba(61, 107, 255, 1) 100%);
    background: linear-gradient(270deg, rgba(0, 255, 157, 1) 0%, rgba(61, 107, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff9d", endColorstr="#3d6bff", GradientType=1);

    color: var(--secondary-acc-color);

    position: relative;
    box-sizing: border-box;
    /* box-shadow: ; */

    text-shadow: 2px 0 1px var(--main-txt-color);
}

.areaCepAviso {
    position: absolute;
    bottom: calc(-100% - 1.3rem);
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Quicksand', sans-serif;
    font-size: .9rem;
    background-color: var(--main-txt-color);
    text-align: center;
    width: 80%;
    border-radius: .4rem;
    letter-spacing: .05rem;
    padding: 1rem;
    visibility: hidden;
}

.areaCepAviso::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid var(--main-txt-color);

}

.areaCep::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: .5rem;
    height: 100%;
    background-color: var(--secondary-acc-color);

}

.areaCep input {
    width: var(--width-inputs);
    border-radius: .5rem 0 0 .5rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .06rem;
    margin-right: .5rem;

}

.areaCep input:focus {
    outline: 2px solid var(--main-bg-color);
    z-index: 20;
}

.areaCidadeEstado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .5rem;
}

.areaCidadeEstado label {
    height: 0;
    visibility: hidden;
}

.areaCidadeEstado input {
    border: 1px solid var(--main-txt-color);
    min-width: var(--width-inputs);
    margin: .2rem 0;
    font-family: 'Quicksand', sans-serif;
    font-size: .9rem;
}

#botaoEnvia {
    height: 5rem;
    width: 8.5rem;
    padding-left: .5rem;
    border-radius: 0 4rem 4rem 0;
    text-align: left;

    border-style: none;
    border: 1px solid var(--secondary-acc-color);

    background: rgb(0, 255, 157);
    background: -moz-linear-gradient(90deg, rgba(0, 255, 157, 1) 0%, rgba(61, 107, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0, 255, 157, 1) 0%, rgba(61, 107, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(0, 255, 157, 1) 0%, rgba(61, 107, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff9d", endColorstr="#3d6bff", GradientType=1);

    font-family: 'Russo One', sans-serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: var(--secondary-acc-color);

    text-shadow: -2px 0 1px var(--main-txt-color);
    cursor: pointer;

    position: relative;
}



#areaInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    justify-items: center;
    align-items: start;
    width: 100%;
}

.card {
    background: rgb(255, 226, 163);
    background: -moz-linear-gradient(0deg, var(--acc-color-rgba) 0%, var(--secondary-acc-color) 100%);
    background: -webkit-linear-gradient(0deg, var(--acc-color-rgba) 0%, var(--secondary-acc-color) 100%);
    background: linear-gradient(0deg, var(--acc-color-rgba) 0%, var(--secondary-acc-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe2a3", endColorstr="#e9fff8", GradientType=1);

    border: 1px solid var(--secondary-acc-color);
    border-radius: .5rem .5rem 0 0;

    font-family: 'Quicksand', sans-serif;
    font-size: .9rem;

    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 16rem;
    min-height: 25vh;
    margin: 0 .2rem;

    box-shadow: 0 8px 8px -5px var(--main-txt-color);

}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: .5rem;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='63' height='63.6' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M10.7-1.8c1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6-17.5-1.4-17-1.1zM1.2-.7l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.3-.5-.1-.2s-.9.7-1.7 1.2c-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2L6.8-.2c-.4-.2-.7-.5-1.1-.8l-.6-.4S-.2-2 1.2-.7zm-2.3 6.5l.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8L1 3.5.4 3l-.6-.5-.3-.3-.1-.1-.1-.1c-1.6-1.5-.4 3.8-.4 3.8zM36.1-.9c-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 3.2-1.8 1.5-2.6l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1A24.5 24.5 0 0057-1.8c-1.9-1-19.8.2-20.9.9zM-1.8 12.9c1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.8 3-.3 3.3zM42.33.8a22.9 22.9 0 00-2.83.3c-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6a20.69 20.69 0 019.8 5.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 2.5-2.2.7-2.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.05 26.05 0 00-4.47-.3zM-5.9 17.9c1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2 0 0-2 2.3-1.5 2.6zM38.23 5.8a22.9 22.9 0 00-2.83.3c-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 .8-2.2 0-2.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.03 26.03 0 00-4.47-.3zM35.67 13c-1.43-.04-2.9.08-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1 .7-.4 1a17.8 17.8 0 006.3 2.7c.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1a20.69 20.69 0 019.8-5.4c1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2a22.9 22.9 0 00-2.83-.3zM65.5 24.9c-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1a17.8 17.8 0 006.3 2.7c.9.1 1.1-1.9.3-2zm-25.63-7c-1.43-.04-2.9.07-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4C3 29 1.7 28.6.5 28.1c-.5-.3-1.1-.5-1.5-.8-.5-.3-.9.4-.4.8.4.4.9.7 1.5 1a17.8 17.8 0 006.3 2.7c.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1c1.4-1.3 2.9-2.5 4.6-3.4 1.7-.9 3.4-1.6 5.2-2 1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zM67.4 29.4c-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.8 2.4 1.4 3.9 2 .8.3 1.2-1.5.4-1.7zm-23.33-6.6c-1.43-.04-2.9.07-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1a20.69 20.69 0 019.8-5.4c1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zm20.83 8.7c-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7-.3.3-.5zM-.3 34.6c.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.5-.1-.1.2zm48.47-6.9c-1.43-.04-2.9.07-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1a20.69 20.69 0 019.8-5.4c1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2a22.9 22.9 0 00-2.83-.3zM-.6 36.8c.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3 2.3 2.5 3.5 3zm52.97-4.2c-1.43-.04-2.9.08-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1c1.4-1.3 2.9-2.5 4.6-3.4 1.7-.9 3.4-1.6 5.2-2 1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9-.4.4-.8-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zM-2.7 40.1c.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1.1.5 1.5.8.5.3.9.5 1.3.7.8.5 1.3.9 1.7 1.2.4.3.6.4.6.4s-.2-.2-.5-.6c-.3-.3-.8-.9-1.5-1.5-.4-.3-.7-.6-1.2-1-.4-.4-.9-.7-1.5-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-1.1 1.9-.3 2zm59.17-2.5c-1.43-.04-2.9.08-4.47.3-2 .4-4.1 1-6 2-1.9 1-3.7 2.3-5.3 3.8l-.1.1-.1.1-.3.3-.6.5-.6.5-.6.4c-.4.3-.7.6-1.1.8l-1.2.7c-1.7.8-3.4 1.6-5.2 2-1.8.4-3.5.6-5.2.6-.8 0-1.6-.1-2.4-.2-.8-.1-1.5-.2-2.3-.4-1.4-.4-2.7-.8-3.9-1.3-.5-.3-1.1-.5-1.5-.8-.5-.3-.9-.5-1.3-.7-.8-.5-1.3-.9-1.7-1.2-.4-.3-.6-.4-.6-.4s.2.2.5.6c.3.3.8.9 1.5 1.5.3.3.7.6 1.2 1 .4.4.9.7 1.5 1 1.1.7 2.4 1.4 3.9 2 .8.3 1.6.5 2.4.7.9.1 1.7.4 2.7.4 1.9.2 3.8.1 5.9-.2 2-.4 4.1-1 6-2 .5-.3.9-.5 1.4-.8.5-.3.9-.6 1.4-.9l.7-.5.6-.5.6-.5.3-.3.2-.2.1-.1c1.4-1.3 2.9-2.5 4.6-3.4 1.7-.9 3.4-1.6 5.2-2 1.8-.4 3.5-.6 5.2-.6.8 0 1.6.1 2.4.2.8.1 1.5.2 2.3.4 1.4.4 2.7.8 3.9 1.3.5.3 1-.7.4-1-1.1-.7-2.4-1.4-3.9-2-.8-.3-1.6-.5-2.4-.7-.4-.1-.9-.2-1.3-.2-.4-.1-.9-.2-1.4-.2-.47-.05-.95-.08-1.43-.1zm-60.44 7.2c-.48.02-2.23 2.3-1.43 2.3 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a21.9 21.9 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.05 26.05 0 00-4.47-.3zm61.57.1c-.5 0-1 .1-1.4.2-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.4-1.6 1.5-2.6s-4-1.6-6-2a25.81 25.81 0 00-4-.3c-.95.02-1.43.05-1.9.1zm-62 7.7A20.69 20.69 0 015.4 58l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 4 1.6 6 2 2.1.3 4 .4 5.9.2 1 0 1.8-.3 2.7-.4.8-.2 1.6-.4 2.4-.7 1.5-.6 2.8-1.3 3.9-2 .6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1A24.5 24.5 0 002.3 52c-1.9-1-4-1.6-6-2-1.57-.22-2.5 2.2-.7 2.6zm59.23-2.9A22.9 22.9 0 0052 50c-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.4-1.6 1.5-2.6s-4-1.6-6-2a26.05 26.05 0 00-4.47-.3zM-3.4 59.5c1.7.9 3.2 2.1 4.6 3.4l.1.1.2.2.3.3.6.5.6.5.7.5c.5.3.9.6 1.4.9.5.3.9.5 1.4.8 1.9 1 19.8-.2 20.9-.9.6-.3 1.1-.6 1.5-1 .5-.4.9-.7 1.2-1 .7-.6 1.2-1.2 1.5-1.5.3-.4.5-.6.5-.6s-.2.1-.6.4c-.4.3-.9.7-1.7 1.2-.4.2-.8.4-1.3.7-.4.3-1 .5-1.5.8-1.2.5-2.5.9-3.9 1.3-.8.2-1.5.3-2.3.4-.8.1-1.6.2-2.4.2-1.7 0-3.4-.2-5.2-.6-1.8-.4-3.5-1.2-5.2-2l-1.2-.7c-.4-.2-.7-.5-1.1-.8l-.6-.4-.6-.5-.6-.5-.3-.3-.1-.1-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-3.2 1.7-1.5 2.6zm54.03-4.9c-.48.02-.96.05-1.43.1-.5 0-1 .1-1.4.2-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-1.2 1.2-1.5 1.5-.3.4-.5.6-.5.6s.2-.1.6-.4c.4-.3.9-.7 1.7-1.2.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 3.2 2.1 4.6 3.4l.1.1 2.1-2.3a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.04 26.04 0 00-4.47-.3zm-4.1 4.9c-.48.02-.96.05-1.43.1-.5 0-1 .1-1.4.2-.4 0-.9.1-1.3.2-.8.2-1.6.4-2.4.7-1.5.6-2.8 1.3-3.9 2-.6.3-1.1.6-1.5 1-.5.4-.8.7-1.2 1-.7.6-.5 1 .3.5.4-.2.8-.4 1.3-.7.4-.3 1-.5 1.5-.8 1.2-.5 2.5-.9 3.9-1.3.8-.2 1.5-.3 2.3-.4.8-.1 1.6-.2 2.4-.2 1.7 0 3.4.2 5.2.6 1.8.4 3.5 1.1 5.2 2 1.7.9 6.9 1.3 6.9 1.3l-.1-.1a24.5 24.5 0 00-5.3-3.8c-1.9-1-4-1.6-6-2a26.05 26.05 0 00-4.47-.3z'  stroke-width='1' stroke='none' fill='hsla(157, 100%, 81%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.cardTitulo {
    background-color: var(--secondary-txt-color);
    border-radius: .5rem .5rem 0 0;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    font-size: 1rem;
    text-shadow: 0 2px 2px var(--secondary-acc-color);

    box-shadow: 0 .2rem 5px -3px var(--main-txt-color);
    letter-spacing: .10rem;

    margin: 0 auto;
    color: var(--main-txt-color);
    font-weight: 700;
}


.cardAgora {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
    text-align: center;
}

.cardAgora div {
    width: 100%;
}


.cardAgora img {
    background-color: var(--main-bg-color);
    border-radius: 100%;
    margin: 1rem 0;
    /* margin: 1rem 0; */
}

.cardHoje {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 16rem;
    text-align: center;
}

.cardHojeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.hojeArea {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    width: 100%;
    justify-content: center;
}

.previsoesArea {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    width: 100%;
    justify-content: center;


    margin-top: 1rem;
}

.previsaoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16rem;

    margin: 0 .2rem;
}

.card .cardTitulo {
    margin-bottom: .5rem;
}


.card p:not(:last-child) {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.card p::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;

    background: rgb(0, 255, 157);
    background: -moz-linear-gradient(270deg, rgba(0, 255, 157, 0) 0%, var(--acc-color) 50%, rgba(0, 255, 157, 0) 100%);
    background: -webkit-linear-gradient(270deg, rgba(0, 255, 157, 0) 0%, var(--acc-color) 50%, rgba(0, 255, 157, 0) 100%);
    background: linear-gradient(270deg, rgba(0, 255, 157, 0) 0%, var(--acc-color) 50%, rgba(0, 255, 157, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff9d", endColorstr="#00ff9d", GradientType=1);


}

.card span {
    text-align: center;
    display: block;
    width: 100%;
    height: 2.4rem;
    margin: 0 auto;
    padding-top: .3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--main-txt-color);
    font-weight: 800;
}

.card span::after {
    position: absolute;
    content: '';
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: rgb(0, 255, 157);
    background: -moz-radial-gradient(circle, var(--acc-color) 0%, rgba(0, 255, 157, 0) 75%);
    background: -webkit-radial-gradient(circle, var(--acc-color) 0%, rgba(0, 255, 157, 0) 75%);
    background: radial-gradient(circle, var(--acc-color) 0%, rgba(0, 255, 157, 0) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff9d", endColorstr="#00ff9d", GradientType=1);
    z-index: -1;
}

.infoClima {
    background-color: var(--main-bg-color);
    width: 100%;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
}

.footer {
    width: 100%;
    height: 6vh;
    justify-self: flex-end;
    position: relative;
    box-sizing: border-box;
    padding: 2rem 0;

}

.footer a {
    position: absolute;
    top: 0;
    right: .5rem;
    z-index: 2;

}

.footer a::after {
    position: absolute;
    content: '';
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 15rem;
    background-color: var(--acc-color);
    border-radius: 100%;
    z-index: -1;
}

.loading {

    display: flex;
    justify-content: center;
    width: 100%;

    position: relative;
}

.loading .ph-arrows-clockwise {
    font-size: 3rem;
    /* 
    border-top-color: var(--main-txt-color);
    border-radius: 50%; */
    animation: loading 1s ease infinite;
    margin-left: 3rem;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

/*--------INÍCIO DAS MEDIA QUERIES--------*/

@media screen and (max-width: 1025px) {
    header {
        justify-content: center;
    }

    main {
        align-items: center;
    }

    .areaInputs {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 769px) {

    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header {
        flex-direction: column-reverse;
        margin-bottom: 0;
        padding: 0;
    }

    header h1 {
        padding: 0;
    }

    #svgLogo {
        min-width: 8rem;
        width: 8rem;
        position: relative;
        margin-bottom: 1rem;
    }

    #svgLogo::after {
        position: absolute;
        content: '';
        bottom: -.5rem;
        left: 50%;
        width: 200%;
        height: 2px;
        transform: translateX(-50%);
        background: rgb(233,255,248);
        background: -moz-linear-gradient(270deg, rgba(233,255,248,0) 0%, rgba(233,255,248,1) 50%, rgba(233,255,248,0) 100%);
        background: -webkit-linear-gradient(270deg, rgba(233,255,248,0) 0%, rgba(233,255,248,1) 50%, rgba(233,255,248,0) 100%);
        background: linear-gradient(270deg, rgba(233,255,248,0) 0%, rgba(233,255,248,1) 50%, rgba(233,255,248,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9fff8",endColorstr="#e9fff8",GradientType=1); 
    }

    .areaInputs {
        flex-direction: column;
    }

    .areaInputs input {
        padding-right: 0;
        margin: 0 auto;
    }

    .areaCep {
        padding: 2rem 2.2rem;
        border-radius: 1rem 1rem 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-top: .5rem;
        border: 1px solid var(--secondary-acc-color);
    }

    #cepInput {

        text-align: center;
        margin-top: .5rem;
        border-radius: .5rem;

    }

    .areaCep::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: calc(100% + 2px);
        transform: translateX(-1px);
        height: .5rem;
        background-color: var(--secondary-acc-color);

    }

    .areaCidadeEstado {
        margin-top: 1rem;
    }

    .areaCidadeEstado input {
        text-align: center;
        min-width: 4rem;
        width: 14rem;
        margin: .2rem 0;

        font-size: .9rem;
    }

    .areaCepAviso {

        bottom: calc(-56% - 1.3rem);
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Quicksand', sans-serif;
        font-size: .9rem;
        background-color: var(--main-txt-color);
        text-align: center;
        width: 80%;
        border-radius: .4rem;
        letter-spacing: .05rem;
        padding: 1rem;
        visibility: hidden;
        z-index: 50;
    }


    .card {
        min-width: 14rem;
    }

    #botaoEnvia {
        height: 7rem;
        width: 7rem;
        padding: 0;
        margin-top: .5rem;
        border-radius: 100%;
        text-align: center;

        border-style: none;
        border: 1px solid var(--secondary-acc-color);

        background: rgb(0, 255, 157);
        background: -moz-linear-gradient(90deg, rgba(0, 255, 157, 1) 0%, rgba(61, 107, 255, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(0, 255, 157, 1) 0%, rgba(61, 107, 255, 1) 100%);
        background: linear-gradient(90deg, rgba(0, 255, 157, 1) 0%, rgba(61, 107, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff9d", endColorstr="#3d6bff", GradientType=1);

        font-family: 'Russo One', sans-serif;
        font-size: .8rem;
        letter-spacing: .1rem;
        color: var(--secondary-acc-color);

        text-shadow: -2px 0 1px var(--main-txt-color);
        cursor: pointer;

        position: relative;
    }

    .loading .ph-arrows-clockwise {
        font-size: 3rem;
        /* 
        border-top-color: var(--main-txt-color);
        border-radius: 50%; */
        animation: loading 1s ease infinite;
        margin-left: 0;
    }

    #areaInfo {
        margin-bottom: 3rem;
    }


    .footer {
        width: 100%;
        height: 6vh;
        justify-self: flex-end;
        position: relative;
        box-sizing: content-box;
        padding: 2rem 0;
    }

    .footer a {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        text-align: center;
    }

    .footer a::after {
        position: absolute;
        content: '';
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
        width: 8rem;
        height: 8rem;
        background-color: var(--acc-color);
        border-radius: 100%;
        z-index: -1;
    }


}

@media screen and (max-width: 481px) {


    #areaInfo {
        
        display: flex;
        flex-direction: column;

    }

    .hojeArea {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .previsoesArea {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}